* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 2.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(13, 15, 13);
  z-index: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: gainsboro;
  padding: 1em;
}

nav a:hover {
  background-color: black;
  color: #dddddd;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0d0f0d;
  z-index: 1;
}

#footer-text {
  padding: 10px 0;
}

.scroll-footer {
  position: initial;
  height: 50px;
}

footer ul {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

footer li {
  margin: 2px 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  margin: 0px 4px 2px 0px;
  color: gainsboro;
  font-size: 0.8em;
  float: right;
}

h1 {
  font-size: 7em;
  margin: 0;
  text-align: center;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  margin: 0;
  margin-top: 20px;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  margin: 0;
}
